@import './abstract/colors';
@import './abstract/functions';
@import './abstract/mixins';
@import './abstract/variables';

@import './base/animations';
@import './base/base';
@import './base/typography';
@import './base/utilities';

@import './components/button';
@import './components/features';

@import './sections/hero';
@import './sections/hero-social';
@import './sections/navigation';
@import './sections/roles';
@import './sections/projects';
