h1 {
  font-family: 'megrim', sans-serif;
}

h2,
h3,
h4,
h5 {
  font-family: 'Manrope', sans-serif;
}

h3 {
  font-size: 4rem;
  font-weight: 600;
}

h6 {
  font-family: 'code-saver', monospace;
}

body,
input,
button,
select {
  font-family: $font-family-secondary;
}

.heading-tertiary {
  font-size: 3rem;
  color: $color-primary-main;
}

.description {
  font-size: 1.8rem;
  color: $color-gray-7;
}
