.roles {
  width: 100%;
  padding: 4rem 0;

  background-color: $color-even-section;

  @include theme(dark) {
    background-color: $color-gray-7;
  }

  .role {
    display: flex;
    max-width: 80%;
    margin: 4rem auto;

    &:nth-of-type(even) {
      text-align: right;
    }

    &>div {
      margin: 4rem 0;

      &:not(:last-child) {
        margin-right: 4rem;
      }
    }

    &__illustration {
      width: 50%;
      height: auto;

      &>img {
        width: 100%;

        object-fit: cover;
        object-position: center;
      }
    }

    &__explanation {
      width: 50%;
    }
  }
}
